@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Nunito', sans-serif ;
    background-color: #a8dadc;
}
h1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
nav {
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}
*{
    margin: 0;
}
nav a{color: #e81515;}
.boxes{display: flex; justify-content: space-evenly;}
.leftbox{flex: 1; border: 3px solid #e81515; background-color: #ffffff; border-radius: .5em; padding: 15px; padding-bottom: 40px; margin-left: 310px;}
.bottomlogo{flex: 1; justify-content: center; margin: auto; margin-left: 120px; margin-right: 80px;}
.rightbox{
    display: flex;
    align-items: center;
    flex: 1; 
    border: 3px solid #e81515; 
    background-color: #ffffff; 
    border-radius: .5em; 
    padding: 15px; 
    padding-bottom: 40px; 
    margin-right: 200px;
    flex-direction: column;
}
footer{display: flex; margin-bottom: 40px;}
.icon{height: 50px;}
.logoss{
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}
.estimatebutton{
    background-color:#ffffff;
    padding: 15px;
    color: #000000;
    border-radius: .5em;
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    justify-content: center;
    margin-left: 500px;
    margin-right: 500px;
    border: 3px solid #e81515;
}
.biggrapple{display: flex; height: 500px; margin: auto;}
.homestatement{
    background-color: #e81515; 
    padding: 15px; 
    margin-top: 50px; 
    margin-bottom: 40px; 
    margin-left: 50px; 
    margin-right: 50px; 
    border-radius: .5em; 
    color: #ffffff;
    text-align: center;
    font-size: 125%;
}


@media only screen and (max-width: 600px) {
    nav a{max-width: 100%; display: block; margin-top: 10px;}
    nav span{display: none;}
}
.summary{display: flex; margin-left: 100px; margin-right: 100px; margin-top: 40px; margin-bottom: 40px;}
.purchase{display: flex;}
.row1{display: flex;}
.grapplelogs {flex: 1; height: 400px; margin-left: 120px; margin-top: 35px; margin-bottom: 60px;}
.purchase {flex: 1; margin-top: 170px; margin-left: 100px; margin-right: 120px; vertical-align: middle;}
.summary, .purchase {font-size: 125%; text-align: center;}
.gallery{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 30px;
}
.logcollection, .logwidth, .logload {height:100px;}
.picrow{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
    background-color: #ffffff;
}
.logcollection, .logwidth, .logload {
    flex: 1;
    height: 250px;
    margin-top: 30px;
    margin-bottom: 5px;
}
.logcollection, .logload {width: 375px;}
.pic1label, .pic2label, .pic3label{
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 1; 
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 110%;
}

h2{
    text-align: center;
    background-color: #ffffff;
}

.form{
    display: flex;
    justify-content: center;
}
.step{
    padding: 5px;
}
.nameclass{
    padding: 5px;
    margin-top: 15px;
}
.submitmessage{
    padding: 5px;
    text-align: center;
    margin-bottom: 50px;
}