body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #bde6ff;
}
h1{
    display: flex;
    justify-content: center;
}
nav{
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    border-radius: 1em;
}
nav a{color: #e81515;}
.boxes{display: flex;}
.leftbox{flex: 1; float: left; border: 3px solid #e81515; background-color: #ffffff; border-radius: 1em; padding: 15px; padding-bottom: 40px;}
.bottomlogo{display: flex; flex: 1; justify-content: center;}
.rightbox{flex: 1; float: right; justify-content: right; border: 3px solid #e81515; background-color: #ffffff; border-radius: 1em; padding: 15px; padding-bottom: 40px;}
footer{display: flex;}
.icon{height: 50px;}
.estimatebutton{
    background-color:#ffffff;
    padding: 15px;
    color: #000000;
    border-radius: 1em;
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    justify-content: center;
    margin-left: 500px;
    margin-right: 500px;
    border: 3px solid #e81515;
}
.biggrapple{display: flex; height: 500px; margin: auto;}
.homestatement{
    background-color: #e81515; 
    padding: 15px; 
    margin-top: 50px; 
    margin-bottom: 40px; 
    margin-left: 50px; 
    margin-right: 50px; 
    border-radius: 1em; 
    color: #ffffff;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    nav a{max-width: 100%; display: block; margin-top: 10px;}
    nav span{display: none;}
}